.Model{
    border: solid 208fe1 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    text-align: left;
    font-size: 15px;
    padding-left: 15px;
    margin-top: 2px;
}
.Btn{
    float:right;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}